#navbar {
  width: 100%;
}

.nav-item .bi {
  background: rgb(34, 2, 2);
  border-radius: 100%;
  width: 300px;
  height: 300px;
}

#jumbo-navbar {
  background-color: #410707;
}

.left-fixed {
  position: absolute;
  width: calc(100%) !important;
  height: 100px !important; 
  bottom: 0;
}

.card-body .dotted {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 120px;
  vertical-align: middle;
  font-size: small;
}

.card-top img {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.card-top {
  background: linear-gradient(#3a1e1e, #3a2f2f);
  border-radius: 5px;
}
.card {
  background-color: #272727;
}

.container-fluid {
  background: transparent;
  background-attachment: fixed;
  color: white;
}

.card:hover {
  opacity: 1;
}
.card {
  text-align: center;

  transform: scale(1);
  transition: transform 0.3s ease-out;
  opacity: 0.5;
}

.card-top {
  text-align: center;
  padding-bottom: 1em;
  margin: 1em;
  transform: scale(1);
  transition: transform 0.3s ease-out;
  opacity: 0.5;
}

.card-top:hover {
  opacity: 1;
}

.card:hover {
  transform: scale(1.2);
  z-index: 10;
}

.card-top:hover {
  transform: scale(1.2);
  z-index: 10;
}


.noDisplay {
  display: none;
}