.likedBox {
  width: 192px;
  height: 192px;
  box-shadow: 0px 0px 100px #000;
  justify-content: flex-end;
  min-width: 192px;
}

.like-container {
  background: linear-gradient(#4e3998, #000000) !important;


  height: calc(100vh - 100px);
  overflow-x: hidden;
  width: calc(100% - 260px);
  margin-right: -260px !important;
}

.like-content-album {
  width: 100%;
  min-height: 80vh;
  /* background: linear-gradient(#21163b, #121212); */
  background: #121212 !important;
  /* background: rgb(31, 31, 31); */
  /* background: linear-gradient(
      0deg,
      rgba(31, 31, 31, 1) 75%,
      rgba(139, 140, 140, 1) 100%
    ); */
  overflow-y: hidden;
  margin-top: -16px;
}

.headerLike {
  padding: 0.08em 0px;
  visibility: visible;
  width: 100%;
  font-size: 72px;
  line-height: 72px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  font-weight: 900;
  letter-spacing: -0.04em;
  text-transform: none;
}

.titlesLikePage {
  font-weight: 700 !important;
  font-size: 12px;
}

.no-song-h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 36px;
  text-transform: none;
  min-width: 450px;
}

.no-song-span {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-transform: none;
}

.no-song-btn {
  width: 150px;
  height: 40px;
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  font-size: 14px;
  font-weight: 700;
}

.no-song-btn:hover {
  text-decoration: underline 1px #000;
}

.no-like {
  height: calc(50vh - 100px);
  min-width: 400px;
}

